<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-button (click)="goBack()" style="--background: #f0f0f0; --color: #000; border: none;"> <!-- Suppression du contour ici -->
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon> <!-- Nouvelle icône de retour -->
      </ion-button>
    </ion-buttons>
    <ion-title>Créer une Recette</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nom de la Recette</ion-label>
    <ion-input [(ngModel)]="recipe.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="recipe.description"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Ingrédients (séparer par des virgules)</ion-label>
    <ion-input [(ngModel)]="recipe.ingredients" placeholder="Ex : farine, sucre, oeufs"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Instructions</ion-label>
    <ion-textarea [(ngModel)]="recipe.instructions"></ion-textarea>
  </ion-item>
  <ion-button expand="full" (click)="createRecipe()">Créer</ion-button>
</ion-content>
