<ion-content class="register-container">
  <ion-card class="login-card">
    <ion-card-header class="ion-text-center">
      <h2>Inscription</h2>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="register()">S'inscrire</ion-button>
      <ion-button fill="clear" routerLink="/login">Se connecter</ion-button> <!-- Ce bouton peut rester transparent -->
    </ion-card-content>
  </ion-card>
</ion-content>